h1 {
    color: green;
}

.h1 {
    color: red;
}















/* .container {
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 250px;
    font-size: 40px;
    font-weight: 700;


}

.square_1 {
    background-color: red;    
}

.square_2 {
    background-color: green;    

}

.square_3 {
    background-color: yellow;    
}

.square_4 {
    background-color: blue;    
}

.square_5 {
    background-color: purple;    
}

.square_6 {
    background-color: brown;    
}

.square_7 {
    background-color: lightgreen;    
} */